
#logo
{
    color: teal;
}
h1
{
    color: #0c4275fd;
}
p{
    color: black;
}

main
{
    color: #0c4275fd;
}

.fashion-card
{
    border: 0;
    
}
.fashion-card-footer 
{
    border: 0;
    background-color:white; 
}
.last-part
{
    border:0;
    
    
    
   
}
.last-part img

{
    width: 120px;
    padding: 5%;
}
.bg-clr
{
    background-color: rgb(246, 246, 246);;
    border-radius: 15px;
    
}
.last-button
{
    background-color: rgb(50, 169, 205);
    border-radius: 10px;
    border: 1px solid rgb(0, 66, 128);
}
footer
{
    text-align: center;
}